<form class="form-inline">
	<div class="form-group">
		<label>Select</label>
		<select class="form-control" ng-model="groupcohort" ng-options="groupcohort for groupcohort in groupCohorts"></select>
	</div>
	<div class="form-group">
		<label>Metric</label>
		<select class="form-control" ng-model="yMetric" ng-options="metric.value as metric.display for metric in metrics"></select>
	</div>
	<div class="form-group">
		<label>Average</label>
		<input type="checkbox" ng-model="plotAvg">
	</div>
	<div class="form-group">
		<label>Quantile</label>
		<select class="form-control" ng-model="plotQuantile" ng-options="quantile for quantile in quantiles"></select>
	</div>
	<div class="form-group">
		<export-chart-modal chart-id="chart"></export-chart-modal>
	</div>
	<div class="form-group">
		<json-modal data="data"></json-modal>
	</div>
</form>
<hr>
<svg id="chart"></svg>