<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-default form-control" ng-click="init()" data-toggle="modal" data-target="#pngModal">Export</button>

<!-- Modal -->
<div id="pngModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Export Chart</h4>
      </div>
      <div class="modal-body">
        <form class="form-inline">
          <div class="form-group">
            <label>File name</label>
            <input class="form-control" type="text" ng-model="saveAs">
          </div>
          <div class="form-group">
            <label>Save as</label>
            <select class="form-control" ng-model="downloadAs" ng-options="option for option in downloadOptions"></select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="export()">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Hidden anchor & canvas used to download png / svg -->
<canvas style="display:none"></canvas>
<a id="downloadChart" style="display:none"></a>
