<form class="form-inline">
	<div class="form-group">
		<json-modal data="data"></json-modal>
	</div>
	<div class="form-group">
		<csv-modal data="data"></csv-modal>
	</div>
</form>
<hr>

<table class="table table-striped table-bordered">
	
	<thead>
		<tr>
			<th ng-repeat="key in textKeys.concat(numKeys)">{{key}}</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="student in data track by student.student">
			<td ng-repeat="key in textKeys">
				<input readonly class="form-control" type="text" ng-model="student[key]">
			</td>
			<td ng-repeat="key in numKeys">
				<input class="form-control" type="number" min="0" ng-model="student[key]">
			</td>
		</tr>
	</tbody>

</table>