<form class="form-inline">
	<div class="form-group">
		<label>Metric</label>
		<select class="form-control" ng-model="xMetric" ng-options="metric.value as metric.display for metric in metrics"></select>
	</div>
	<div class="form-group">
		<label>Bins</label>
		<input class="form-control" type="number" min="1" max="40" step="1" ng-model="bins">
	</div>
	<div class="form-group">
		<label>Average</label>
		<input type="checkbox" ng-model="plotAvg">
	</div>
	<div class="form-group">
		<export-chart-modal chart-id="chart"></export-chart-modal>
	</div>
	<div class="form-group">
		<json-modal data="data"></json-modal>
	</div>
</form>
<hr>
<svg id="chart"></svg>